---
# Main sass file, including Skeleton on top to ensure a single source of truth
---

/*
* Skeleton first for all our imports
*/

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

/*
Custom CSS
*/

/*
* Header
*/

header {
  padding-top:  2rem;
  padding-bottom: 2rem;
}

.header-title {
  margin-bottom: 1rem;
}

.header-link {
  color: $font-color;
  &:hover {
    color: $primary-color;
  }
}

// .navbar-list {
//   margin-bottom: 0;
//   margin-right: 2rem;
//   display: inline-block;
// }

// .navbar-item {
//   font-family: $header-font-family;
//   text-transform: uppercase;
//   font-size: 1.8rem;
//   display: inline-block;
//   margin-bottom: 0;
//   margin-left: 2rem;
//   float: left;
// }

/*
* Body
*/

.button,
button {
  width: 100%;
}

/*
* Footer
*/
footer {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.footer-text {
  margin: 0;
}

/*
* Utilities
*/
.page-content {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1 0 auto;
}
