// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––
table {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}

th {
  font-family: $header-font-family !important;
  text-transform: uppercase;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid $dark-grey;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
